// Breakpoints

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Blocks

@mixin block {
  &:not(:last-child) {
    margin-bottom: var(--space-sm);
  }
}

%block {
  @include block;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

%unselectable {
  @include unselectable;
}

@mixin focus-outlined {
  &:focus {
    outline: 3px solid var(--color-primary-a50);
    outline-offset: 2px;
  }
}

%focus-outlined {
  @include focus-outlined;
}

// Add transitions where needed

@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: all 0.2s ease-in-out;
  } @else {
    transition: $transition;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// Breakpoint mixins

@mixin breakpoint($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "#{$name}");
}
