//
// Global custom properties
//

:root {
  // Main colors
  --color-primary:           hsl(17, 41%, 68%);
  --color-primary-hover:     hsl(17, 41%, 64%);
  --color-primary-active:    hsl(17, 41%, 60%);
  --color-primary-a50:       hsla(17, 41%, 68%, 0.5);

  --color-accent:            hsl(220, 90%, 56%);
  --color-accent-hover:      hsl(220, 90%, 52%);
  --color-accent-active:     hsl(220, 90%, 49%);
  --color-accent-a50:        hsla(220, 90%, 56%, 0.5);

  // Feedback colors
  --color-focus:             hsl(39, 100%, 70%);
  --color-focus-a50:         hsla(39, 100%, 70%, 0.5);
  --color-green:             hsl(141, 71%, 48%);
  --color-green-a50:         hsla(141, 71%, 48%, 0.5);
  --color-red:               hsl(348, 100%, 61%);
  --color-red-a50:           hsla(348, 100%, 61%, 0.5);

  // Shades
  --color-white:             hsl(0, 0%, 100%);
  --color-black:             hsl(0, 0%, 4%);

  // Color contrast
  --color-contrast-lowest:   hsl(0, 0%, 95%);
  --color-contrast-lower:    hsl(0, 0%, 82%);
  --color-contrast-low:      hsl(0, 0%, 70%);
  --color-contrast-medium:   hsl(0, 0%, 48%);
  --color-contrast-high:     hsl(0, 0%, 20%);
  --color-contrast-higher:   hsl(0, 0%, 12%);

  // Typography system
  --family-base:             system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --family-heading:          var(--family-base);
  --line-height-base:        1.4;
  --line-height-heading:     1.2;

  // Modular typography scaling
  --text-size-base:          1em;
  --text-scale-ratio:        1.2;

  --text-small:              calc(var(--text-size-base) / var(--text-scale-ratio));
  --text-6:                  var(--text-size-base);
  --text-5:                  calc(var(--text-6) * var(--text-scale-ratio));
  --text-3:                  calc(var(--text-4) * var(--text-scale-ratio));
  --text-2:                  calc(var(--text-3) * var(--text-scale-ratio));
  --text-4:                  calc(var(--text-5) * var(--text-scale-ratio));
  --text-1:                  calc(var(--text-2) * var(--text-scale-ratio));

  // Modular space scaling
  --space-unit:              1rem;

  --space-xxxs:              calc(0.25  * var(--space-unit));
  --space-xxs:               calc(0.375 * var(--space-unit));
  --space-xs:                calc(0.5   * var(--space-unit));
  --space-s:                 calc(0.75  * var(--space-unit));
  --space-m:                 calc(1.25  * var(--space-unit));
  --space-l:                 calc(2     * var(--space-unit));
  --space-xl:                calc(3.25  * var(--space-unit));
  --space-xxl:               calc(5.25  * var(--space-unit));
  --space-xxxl:              calc(8.5   * var(--space-unit));

  --component-spacer:        var(--space-m);

  // Shadows
  // --shadow-s:                0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
  --shadow-m:                0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  // --shadow-l:                0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);

  // Radius
  --radius:                  0.25em;
  --radius-rounded:          50rem;
}


//
// Semantic color definitions
// Default and light theme
//

:root,
[data-theme="default"] {
  --color-background:        var(--color-white);
  --color-text:              var(--color-contrast-higher);
  --color-border:            var(--color-contrast-lower);
  --color-link:              var(--color-primary);
  --color-link-hover:        var(--color-text);
}

[data-theme="light"] {
  --color-background:        var(--color-black);
  --color-text:              var(--color-white);
  --color-border:            var(--color-contrast-high);
  --color-link:              var(--color-primary);
  --color-link-hover:        var(--color-text);
}

[data-theme] {
  color:                     var(--color-text);
  background-color:          var(--color-background);
}

//
// Natural growing responsiveness
//

@include media-breakpoint-above(md) {
  :root {
    --text-size-base:        1.15em;
    --text-scale-ratio:      1.25;
    --space-unit:            1.15rem;
  }
}
