//
// Global custom properties
//

:root {
  // Main colors
  --color-primary:           hsl(224, 58%, 50%);
  --color-primary-hover:     hsl(224, 58%, 55%);
  --color-primary-active:    hsl(224, 58%, 60%);
  --color-primary-a50:       hsla(224, 58%, 50%, 0.5);

  --color-accent:            hsl(357, 43%, 63%);
  --color-accent-hover:      hsl(357, 43%, 68%);
  --color-accent-active:     hsl(357, 43%, 73%);
  --color-accent-a50:        hsla(357, 43%, 63%, 0.5);

  // Feedback colors
  --color-success:           hsl(141, 71%, 48%);
  --color-success-a50:       hsla(141, 71%, 48%, 0.5);
  --color-danger:            hsl(348, 100%, 61%);
  --color-danger-a50:        hsla(348, 100%, 61%, 0.5);

  // Typography system
  --font-family-base:        system-ui, -apple-system, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-heading:     var(--font-family-base);
  --line-height-base:        1.5;
  --line-height-heading:     1.25;

  // Automated responsive resizing
  --fluid-unit:              calc(16px + (18 - 16) * ((100vw - 320px) / (1280 - 320)));

  // Modular typography scaling
  --text-scale-ratio:        1.2;

  --text-s:                  calc(var(--text-6) / var(--text-scale-ratio));
  --text-6:                  var(--fluid-unit);
  --text-5:                  calc(var(--text-6) * var(--text-scale-ratio));
  --text-3:                  calc(var(--text-4) * var(--text-scale-ratio));
  --text-2:                  calc(var(--text-3) * var(--text-scale-ratio));
  --text-4:                  calc(var(--text-5) * var(--text-scale-ratio));
  --text-1:                  calc(var(--text-2) * var(--text-scale-ratio));

  // Modular space scaling based on the Fibonacci sequence
  --space-xxxs:              calc(0.25  * var(--fluid-unit));
  --space-xxs:               calc(0.375 * var(--fluid-unit));
  --space-xs:                calc(0.5   * var(--fluid-unit));
  --space-s:                 calc(0.75  * var(--fluid-unit));
  --space-m:                 calc(1.25  * var(--fluid-unit));
  --space-l:                 calc(2     * var(--fluid-unit));
  --space-xl:                calc(3.25  * var(--fluid-unit));
  --space-xxl:               calc(5.25  * var(--fluid-unit));
  --space-xxxl:              calc(8.5   * var(--fluid-unit));

  --component-spacer:        var(--space-m);

  // Radius
  --radius:                  0.25em;
}

//
// Semantic color definitions and themes
//

:root,
[data-theme="light"] {
  // Shades
  --color-contrast-lowest:   hsl(0, 0%, 95%);
  --color-contrast-lower:    hsl(0, 0%, 82%);
  --color-contrast-low:      hsl(0, 0%, 70%);
  --color-contrast-medium:   hsl(0, 0%, 48%);
  --color-contrast-high:     hsl(0, 0%, 20%);
  --color-contrast-higher:   hsl(0, 0%, 12%);

  // Semantic color definitions
  --color-background:        white;
  --color-text:              var(--color-contrast-higher);
  --color-border:            var(--color-contrast-lower);
  --color-link:              var(--color-primary);
  --color-link-hover:        var(--color-text);
}

[data-theme="dark"] {
  // Shades
  --color-contrast-lowest:   hsl(0, 0%, 6%);
  --color-contrast-lower:    hsl(0, 0%, 20%);
  --color-contrast-low:      hsl(0, 0%, 48%);
  --color-contrast-medium:   hsl(0, 0%, 70%);
  --color-contrast-high:     hsl(0, 0%, 82%);
  --color-contrast-higher:   hsl(0, 0%, 95%);

  // Semantic color definitions
  --color-background:        black;
  --color-text:              white;
  --color-border:            var(--color-contrast-high);
  --color-link:              var(--color-primary);
  --color-link-hover:        var(--color-text);
}

[data-theme] {
  color:                     var(--color-text);
  background-color:          var(--color-background);
}
