//
// Global Sass variables
//

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;

$grid-gaps: xxs, xs, s, m, l !default;

$container-sizes: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
) !default;
