@mixin control {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: none;
  vertical-align: top;

  &:focus {
    // `box-shadow` is invisible in Windows high-contrast mode, so we need to add
    // a transparent outline, which actually does show up in high-contrast mode.
    outline-color: transparent;
  }
}

%control {
  @include control;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

%unselectable {
  @include unselectable;
}

@mixin transition($transition...) {
  @if length($transition) == 0 {
    transition: all 0.2s ease-in-out;
  } @else {
    transition: $transition;
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
