$spacers: (
  xxxs: var(--space-xxxs),
  xxs: var(--space-xxs),
  xs: var(--space-xs),
  s: var(--space-s),
  m: var(--space-m),
  l: var(--space-l),
  xl: var(--space-xl),
  xxl: var(--space-xxl),
  xxxl: var(--space-xxxl),
) !default;

$colors: (
  white: var(--color-white),
  black: var(--color-black),
  primary: var(--color-primary),
  accent: var(--color-accent),
  contrast-lowest: var(--color-contrast-lowest),
  contrast-lower: var(--color-contrast-lower),
  contrast-low: var(--color-contrast-low),
  contrast-medium: var(--color-contrast-medium),
  contrast-high: var(--color-contrast-high),
  contrast-higher: var(--color-contrast-higher),
);

$utilities: (
  // Display
  "display": (
    responsive: true,
    property: display,
    class: is,
    values: (
      hidden: none,
      inline: inline,
      block: block,
      flex: flex,
      inline-flex: inline-flex,
    )
  ),

  // Margin
  "margin": (
    property: margin,
    class: has-margin,
    values: $spacers
  ),
  "margin-top": (
    property: margin-top,
    class: has-margin-top,
    values: $spacers
  ),
  "margin-bottom": (
    property: margin-bottom,
    class: has-margin-bottom,
    values: $spacers
  ),

  // Padding
  "padding": (
    property: padding,
    class: has-padding,
    values: $spacers
  ),
  "padding-top": (
    property: padding-top,
    class: has-padding-top,
    values: $spacers
  ),
  "padding-bottom": (
    property: padding-bottom,
    class: has-padding-bottom,
    values: $spacers
  ),

  // Flex
  "flex": (
    property: flex,
    class: has-flex,
    values: (fill: 1 1 auto)
  ),
  "flex-direction": (
    property: flex-direction,
    class: has-flex,
    values: row column row-reverse
  ),
  "flex-grow": (
    property: flex-grow,
    class: has-flex,
    values: (
      grow-0: 0,
      grow-1: 1,
    )
  ),
  "flex-shrink": (
    property: flex-shrink,
    class: has-flex,
    values: (
      shrink-0: 0,
      shrink-1: 1,
    )
  ),
  "flex-wrap": (
    property: flex-wrap,
    class: has-flex,
    values: wrap nowrap
  ),
  "justify-content": (
    property: justify-content,
    class: has-content-justified,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around,
    )
  ),
  "align-items": (
    property: align-items,
    class: has-items-aligned,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      stretch: stretch,
    )
  ),

  // Text
  "color": (
    property: color,
    class: has-text,
    values: $colors
  ),
  "background-color": (
    property: background-color,
    class: has-background,
    values: $colors
  ),
  "font-size": (
    responsive: true,
    property: font-size,
    class: is-size,
    values: (
      small: var(--text-small),
      6: var(--text-6),
      3: var(--text-3),
      5: var(--text-5),
      4: var(--text-4),
      2: var(--text-2),
      1: var(--text-1),
    )
  ),
  "font-weight": (
    property: font-weight,
    class: has-text-weight,
    values: (
      light: 300,
      normal: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      bolder: 800,
    )
  ),
  "text-align": (
    responsive: true,
    property: text-align,
    class: has-text,
    values: (
      left: left,
      right: right,
      centered: center,
    )
  ),
  "font-family": (
    property: font-family,
    class: is-family,
    values: (
      base: var(--family-base),
      heading: var(--family-heading),
    )
  ),
);
