:root {
  @each $size in map-keys($container-sizes) {
    $width: map-get($container-sizes, $size);
    --container-width-#{$size}: #{$width};
  }
}

.container {
  position: relative;
  width: calc(100% - 2 * var(--component-padding));
  margin-left: auto;
  margin-right: auto;

  &.is-full-width {
    width: 100%;
  }

  @each $breakpoint in map-keys($container-sizes) {
    @include media-breakpoint-up($breakpoint) {
      & { max-width: var(--container-width-#{$breakpoint}); }
    }
  }

  @each $size in map-keys($container-sizes) {
    &.is-#{$size} { max-width: var(--container-width-#{$size}); }
  }

  &.is-fluid {
    max-width: none;
  }
}
