$columns: 12 !default;

.columns {
  display: flex;
  flex-wrap: wrap;

  //
  // Modifiers
  //

  &.has-gap {
    gap: var(--column-gap, 1ch);
  }

  &.is-centered {
    justify-content: center;
  }

  &.is-vcentered {
    align-items: center;
  }

  //
  // Columns
  //

  > .column {
    display: block;
    flex: 1; // Shorthand for `flex: 1 1 0`

    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-above($breakpoint, $grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &.#{$infix}is-narrow {
          flex: 0 0 auto;
        }

        &.#{$infix}is-auto {
          flex: 1;
        }

        &.#{$infix}is-full {
          flex: 0 0 100%;
        }

        @for $i from 1 through $columns {
          &.#{$infix}is-#{$i} {
            flex: 0 0 percentage($i / 12);
          }
        }
      }
    }
  }
}
