$columns: 12 !default;
$column-gaps: xs, s, m, l !default;

.columns {
  display: flex;
  flex-wrap: wrap;

  //
  // Gaps
  //

  margin-left: calc(-1 * var(--gap, 0));
  margin-bottom: calc(-1 * var(--gap, 0));

  > .column {
    padding-left: var(--gap, 0);
    padding-bottom: var(--gap, 0);
  }

  @each $gap in $column-gaps {
    &.has-gap-#{$gap} {
      --gap: var(--space-#{$gap});
    }
  }

  //
  // Modifiers
  //

  &.is-centered {
    justify-content: center;
  }

  &.is-vcentered {
    align-items: center;
  }

  //
  // Columns
  //

  > .column {
    display: block;
    flex: 1 1 0;

    @each $breakpoint in map-keys($grid-breakpoints) {
      @include media-breakpoint-above($breakpoint, $grid-breakpoints) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        &.#{$infix}is-narrow {
          flex: 0 0 auto;
          width: auto;
        }

        &.#{$infix}is-auto {
          flex: 1 1 0;
          width: auto;
        }

        &.#{$infix}is-full {
          flex: none;
          width: 100%;
        }

        @for $i from 1 through $columns {
          &.#{$infix}is-#{$i} {
            flex: none;
            width: percentage($i / 12);
          }
        }
      }
    }
  }
}
