.container {
  position: relative;
  width: calc(100% - 2 * var(--component-spacer));
  margin-left: auto;
  margin-right: auto;

  &.is-fullwidth {
    width: 100%;
  }

  &.for-content {
    max-width: var(--content-length);
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $width: map-get($grid-breakpoints, $breakpoint);

    @if $width != 0 {
      &.is-#{$breakpoint} {
        max-width: $width;
      }
    }
  }
}
