:root {
  --container-width-sm: 540px;
  --container-width-md: 720px;
  --container-width-lg: 960px;
  --container-width-xl: 1140px;
}

.container {
  position: relative;
  width: calc(100% - 2 * var(--component-padding));
  margin-left: auto;
  margin-right: auto;

  &.is-fullwidth {
    width: 100%;
  }

  &.is-sm { max-width: var(--container-width-sm); }
  &.is-md { max-width: var(--container-width-md); }
  &.is-lg { max-width: var(--container-width-lg); }
  &.is-xl { max-width: var(--container-width-xl); }
}
