//
// FLow
//

flow {
  display: block;
  -webkit-appearance: none;
  appearance: none;
}

flow[columns] {
  column-gap: var(--spacing);
}

flow[columns="2"] {
  column-count: 2;
}

@media (max-width: 575px) {
  flow[columns-sm="1"] {
    column-count: 1;
  }
}