flow {
  display: block;
  -webkit-appearance: none;
  appearance: none;

  &[columns] {
    column-gap: var(--component-padding);
  }

  &[columns="2"] {
    column-count: 2;
  }
}

@media (max-width: 575px) {
  flow[columns-sm="1"] {
    column-count: 1;
  }
}
