.form-control {
  width: 100%;
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);

  @include transition(background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
  &:hover {
    border-color: var(--color-contrast-medium);
  }
  &:focus,
  &:active {
    border-color: var(--color-text);
    box-shadow: 0 0 0 3px var(--color-primary-a25);
  }
  &::-webkit-input-placeholder {
    color: var(--color-contrast-medium);
  }
  &::-moz-placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
  }
  &[readonly] {
    box-shadow: none;
  }
  &[disabled] {
    background-color: var(--color-background);
    border-color: var(--color-contrast-low);
    box-shadow: none;
    color: var(--color-contrast-medium);
  }
  &[aria-invalid="true"] {
    border-color: var(--color-red);
    &:focus {
      box-shadow: 0 0 0 3px var(--color-red-a25);
    }
  }
}

.form-legend {
  color: var(--color-text);
  line-height: var(--heading-line-height);
  font-size: var(--text-md);
  margin-bottom: var(--space-xxsmall);
}

.form-label {
  font-size: var(--text-sm);
  margin-bottom: var(--space-xxsmall);
}

//
// Error message
//

.help {
  font-size: var(--text-sm);
  margin-top: var(--space-small);
  &.is-error {
    color: var(--color-red);
  }
}
