.control {
  width: 100%;
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);

  @include transition(background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
  &:hover {
    border-color: var(--color-contrast-light);
  }
  &:focus,
  &:active {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-a25);
  }
  &.is-error {
    border-color: var(--color-red);
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px var(--color-red-a25);
    }
  }
  &.is-success {
    border-color: var(--color-green);
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px var(--color-green-a25);
    }
  }
  &::-webkit-input-placeholder {
    color: var(--color-contrast-light);
  }
  &::-moz-placeholder {
    opacity: 1;
    color: var(--color-contrast-light);
  }
  &[readonly] {
    box-shadow: none;
  }
  &[disabled] {
    background-color: var(--color-contrast-lower);
    border-color: var(--color-contrast-lower);
    color: var(--color-contrast-light);
    box-shadow: none;
  }
  &[aria-invalid="true"] {
    border-color: var(--color-red);
    &:focus {
      box-shadow: 0 0 0 3px var(--color-red-a25);
    }
  }
}

.legend {
  color: var(--color-text);
  line-height: var(--heading-line-height);
  font-size: var(--text-5);
  margin-bottom: var(--space-xsmall);
}

.label {
  margin-bottom: var(--space-xsmall);
}

//
// Error message
//

.help {
  font-size: var(--text-small);
  margin-top: var(--space-xsmall);
  &.is-error {
    color: var(--color-red);
  }
  &.is-success {
    color: var(--color-green);
  }
}
