.modal {
  @extend %overlay;

  position: fixed;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 40;

  &.is-active {
    display: flex;
  }
}

.modal-background {
  @extend %overlay;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.modal-card {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 20px);
  margin: 0 20px;
  overflow: auto;

  @include breakpoint(md) {
    width: 640px;
    max-height: calc(100vh - 40px);
    margin: 0 auto;
  }
}

.modal-close {
  @extend %delete;

  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  width: 40px;
  height: 40px;
}