//
// Raster grid subsystem (rsms.me/raster)
//
grid {
  display: grid;
  --grid-tc: repeat(4, 1fr);
  grid-template-columns: var(--grid-tc);
  --grid-cs: 1; // column start
  --grid-ce: -1 // column end
}

// `c` -- cell or column
grid > c { display: block; appearance: none; -webkit-appearance: none }

grid[columns="1"] { --grid-tc: repeat(1, 1fr) }
grid[columns="2"] { --grid-tc: repeat(2, 1fr) }
grid[columns="3"] { --grid-tc: repeat(3, 1fr) }
grid[columns="4"] { --grid-tc: repeat(4, 1fr) }
grid[columns="5"] { --grid-tc: repeat(5, 1fr) }
grid[columns="6"] { --grid-tc: repeat(6, 1fr) }
grid[columns="7"] { --grid-tc: repeat(7, 1fr) }
grid[columns="8"] { --grid-tc: repeat(8, 1fr) }
grid[columns="9"] { --grid-tc: repeat(9, 1fr) }
grid[columns="10"] { --grid-tc: repeat(10, 1fr) }
grid[columns="11"] { --grid-tc: repeat(11, 1fr) }
grid[columns="12"] { --grid-tc: repeat(12, 1fr) }
grid[columns="13"] { --grid-tc: repeat(13, 1fr) }
grid[columns="14"] { --grid-tc: repeat(14, 1fr) }
grid[columns="15"] { --grid-tc: repeat(15, 1fr) }
grid[columns="16"] { --grid-tc: repeat(16, 1fr) }
grid[columns="17"] { --grid-tc: repeat(17, 1fr) }
grid[columns="18"] { --grid-tc: repeat(18, 1fr) }
grid[columns="19"] { --grid-tc: repeat(19, 1fr) }
grid[columns="20"] { --grid-tc: repeat(20, 1fr) }
grid[columns="21"] { --grid-tc: repeat(21, 1fr) }
grid[columns="22"] { --grid-tc: repeat(22, 1fr) }
grid[columns="23"] { --grid-tc: repeat(23, 1fr) }
grid[columns="24"] { --grid-tc: repeat(24, 1fr) }
grid[columns="25"] { --grid-tc: repeat(25, 1fr) }
grid[columns="26"] { --grid-tc: repeat(26, 1fr) }
grid[columns="27"] { --grid-tc: repeat(27, 1fr) }
grid[columns="28"] { --grid-tc: repeat(28, 1fr) }
grid[columns="29"] { --grid-tc: repeat(29, 1fr) }
grid[columns="30"] { --grid-tc: repeat(30, 1fr) }

// span=start...
grid > c[span^="1"] { --grid-cs: 1 }
grid > c[span^="2"] { --grid-cs: 2 }
grid > c[span^="3"] { --grid-cs: 3 }
grid > c[span^="4"] { --grid-cs: 4 }
grid > c[span^="5"] { --grid-cs: 5 }
grid > c[span^="6"] { --grid-cs: 6 }
grid > c[span^="7"] { --grid-cs: 7 }
grid > c[span^="8"] { --grid-cs: 8 }
grid > c[span^="9"] { --grid-cs: 9 }
grid > c[span^="10"] { --grid-cs: 10 }
grid > c[span^="11"] { --grid-cs: 11 }
grid > c[span^="12"] { --grid-cs: 12 }
grid > c[span^="13"] { --grid-cs: 13 }
grid > c[span^="14"] { --grid-cs: 14 }
grid > c[span^="15"] { --grid-cs: 15 }
grid > c[span^="16"] { --grid-cs: 16 }
grid > c[span^="17"] { --grid-cs: 17 }
grid > c[span^="18"] { --grid-cs: 18 }
grid > c[span^="19"] { --grid-cs: 19 }
grid > c[span^="20"] { --grid-cs: 20 }
grid > c[span^="21"] { --grid-cs: 21 }
grid > c[span^="22"] { --grid-cs: 22 }
grid > c[span^="23"] { --grid-cs: 23 }
grid > c[span^="24"] { --grid-cs: 24 }
grid > c[span^="25"] { --grid-cs: 25 }
grid > c[span^="26"] { --grid-cs: 26 }
grid > c[span^="27"] { --grid-cs: 27 }
grid > c[span^="28"] { --grid-cs: 28 }
grid > c[span^="29"] { --grid-cs: 29 }
grid > c[span^="30"] { --grid-cs: 30 }

// span=...+width, span=...-end
grid > c[span$="+1"], grid > c[span="1"] { --grid-ce: 1 }
grid > c[span$="+2"], grid > c[span$="-1"], grid > c[span="2"] { --grid-ce: 2 }
grid > c[span$="+3"], grid > c[span$="-2"], grid > c[span="3"] { --grid-ce: 3 }
grid > c[span$="+4"], grid > c[span$="-3"], grid > c[span="4"] { --grid-ce: 4 }
grid > c[span$="+5"], grid > c[span$="-4"], grid > c[span="5"] { --grid-ce: 5 }
grid > c[span$="+6"], grid > c[span$="-5"], grid > c[span="6"] { --grid-ce: 6 }
grid > c[span$="+7"], grid > c[span$="-6"], grid > c[span="7"] { --grid-ce: 7 }
grid > c[span$="+8"], grid > c[span$="-7"], grid > c[span="8"] { --grid-ce: 8 }
grid > c[span$="+9"], grid > c[span$="-8"], grid > c[span="9"] { --grid-ce: 9 }
grid > c[span$="+10"], grid > c[span$="-9"], grid > c[span="10"] { --grid-ce: 10 }
grid > c[span$="+11"], grid > c[span$="-10"], grid > c[span="11"] { --grid-ce: 11 }
grid > c[span$="+12"], grid > c[span$="-11"], grid > c[span="12"] { --grid-ce: 12 }
grid > c[span$="+13"], grid > c[span$="-12"], grid > c[span="13"] { --grid-ce: 13 }
grid > c[span$="+14"], grid > c[span$="-13"], grid > c[span="14"] { --grid-ce: 14 }
grid > c[span$="+15"], grid > c[span$="-14"], grid > c[span="15"] { --grid-ce: 15 }
grid > c[span$="+16"], grid > c[span$="-15"], grid > c[span="16"] { --grid-ce: 16 }
grid > c[span$="+17"], grid > c[span$="-16"], grid > c[span="17"] { --grid-ce: 17 }
grid > c[span$="+18"], grid > c[span$="-17"], grid > c[span="18"] { --grid-ce: 18 }
grid > c[span$="+19"], grid > c[span$="-18"], grid > c[span="19"] { --grid-ce: 19 }
grid > c[span$="+20"], grid > c[span$="-19"], grid > c[span="20"] { --grid-ce: 20 }
grid > c[span$="+21"], grid > c[span$="-20"], grid > c[span="21"] { --grid-ce: 21 }
grid > c[span$="+22"], grid > c[span$="-21"], grid > c[span="22"] { --grid-ce: 22 }
grid > c[span$="+23"], grid > c[span$="-22"], grid > c[span="23"] { --grid-ce: 23 }
grid > c[span$="+24"], grid > c[span$="-23"], grid > c[span="24"] { --grid-ce: 24 }
grid > c[span$="+25"], grid > c[span$="-24"], grid > c[span="25"] { --grid-ce: 25 }
grid > c[span$="+26"], grid > c[span$="-25"], grid > c[span="26"] { --grid-ce: 26 }
grid > c[span$="+27"], grid > c[span$="-26"], grid > c[span="27"] { --grid-ce: 27 }
grid > c[span$="+28"], grid > c[span$="-27"], grid > c[span="28"] { --grid-ce: 28 }
grid > c[span$="+29"], grid > c[span$="-28"], grid > c[span="29"] { --grid-ce: 29 }
grid > c[span$="+30"], grid > c[span$="-29"], grid > c[span="30"] { --grid-ce: 30 }
grid > c[span$="-30"] { --grid-ce: 31 }

// Connect vars
grid > c[span] { grid-column-end: span var(--grid-ce) }
grid > c[span*="+"], grid > c[span*="-"], grid > c[span*=".."] {
  grid-column-start: var(--grid-cs) }
grid > c[span*="-"], grid > c[span*=".."] {
  grid-column-end: var(--grid-ce) }
grid > c[span="row"] { grid-column: 1 / -1 }

// For window width <= 575 px
@media (max-width: 575px) {
  grid[columns-sm="1"] { --grid-tc: repeat(1, 1fr) }
  grid[columns-sm="2"] { --grid-tc: repeat(2, 1fr) }
  grid[columns-sm="3"] { --grid-tc: repeat(3, 1fr) }
  grid[columns-sm="4"] { --grid-tc: repeat(4, 1fr) }
  grid[columns-sm="5"] { --grid-tc: repeat(5, 1fr) }
  grid[columns-sm="6"] { --grid-tc: repeat(6, 1fr) }
  grid[columns-sm="7"] { --grid-tc: repeat(7, 1fr) }
  grid[columns-sm="8"] { --grid-tc: repeat(8, 1fr) }
  grid[columns-sm="9"] { --grid-tc: repeat(9, 1fr) }
  grid[columns-sm="10"] { --grid-tc: repeat(10, 1fr) }
  grid[columns-sm="11"] { --grid-tc: repeat(11, 1fr) }
  grid[columns-sm="12"] { --grid-tc: repeat(12, 1fr) }
  grid[columns-sm="13"] { --grid-tc: repeat(13, 1fr) }
  grid[columns-sm="14"] { --grid-tc: repeat(14, 1fr) }
  grid[columns-sm="15"] { --grid-tc: repeat(15, 1fr) }
  grid[columns-sm="16"] { --grid-tc: repeat(16, 1fr) }
  grid[columns-sm="17"] { --grid-tc: repeat(17, 1fr) }
  grid[columns-sm="18"] { --grid-tc: repeat(18, 1fr) }
  grid[columns-sm="19"] { --grid-tc: repeat(19, 1fr) }
  grid[columns-sm="20"] { --grid-tc: repeat(20, 1fr) }
  grid[columns-sm="21"] { --grid-tc: repeat(21, 1fr) }
  grid[columns-sm="22"] { --grid-tc: repeat(22, 1fr) }
  grid[columns-sm="23"] { --grid-tc: repeat(23, 1fr) }
  grid[columns-sm="24"] { --grid-tc: repeat(24, 1fr) }
  grid[columns-sm="25"] { --grid-tc: repeat(25, 1fr) }
  grid[columns-sm="26"] { --grid-tc: repeat(26, 1fr) }
  grid[columns-sm="27"] { --grid-tc: repeat(27, 1fr) }
  grid[columns-sm="28"] { --grid-tc: repeat(28, 1fr) }
  grid[columns-sm="29"] { --grid-tc: repeat(29, 1fr) }
  grid[columns-sm="30"] { --grid-tc: repeat(30, 1fr) }
  
  // span-sm=start...
  grid > c[span-sm^="1"] { --grid-cs: 1 }
  grid > c[span-sm^="2"] { --grid-cs: 2 }
  grid > c[span-sm^="3"] { --grid-cs: 3 }
  grid > c[span-sm^="4"] { --grid-cs: 4 }
  grid > c[span-sm^="5"] { --grid-cs: 5 }
  grid > c[span-sm^="6"] { --grid-cs: 6 }
  grid > c[span-sm^="7"] { --grid-cs: 7 }
  grid > c[span-sm^="8"] { --grid-cs: 8 }
  grid > c[span-sm^="9"] { --grid-cs: 9 }
  grid > c[span-sm^="10"] { --grid-cs: 10 }
  grid > c[span-sm^="11"] { --grid-cs: 11 }
  grid > c[span-sm^="12"] { --grid-cs: 12 }
  grid > c[span-sm^="13"] { --grid-cs: 13 }
  grid > c[span-sm^="14"] { --grid-cs: 14 }
  grid > c[span-sm^="15"] { --grid-cs: 15 }
  grid > c[span-sm^="16"] { --grid-cs: 16 }
  grid > c[span-sm^="17"] { --grid-cs: 17 }
  grid > c[span-sm^="18"] { --grid-cs: 18 }
  grid > c[span-sm^="19"] { --grid-cs: 19 }
  grid > c[span-sm^="20"] { --grid-cs: 20 }
  grid > c[span-sm^="21"] { --grid-cs: 21 }
  grid > c[span-sm^="22"] { --grid-cs: 22 }
  grid > c[span-sm^="23"] { --grid-cs: 23 }
  grid > c[span-sm^="24"] { --grid-cs: 24 }
  grid > c[span-sm^="25"] { --grid-cs: 25 }
  grid > c[span-sm^="26"] { --grid-cs: 26 }
  grid > c[span-sm^="27"] { --grid-cs: 27 }
  grid > c[span-sm^="28"] { --grid-cs: 28 }
  grid > c[span-sm^="29"] { --grid-cs: 29 }
  grid > c[span-sm^="30"] { --grid-cs: 30 }
  
  // span-sm=...+width, span-sm=...-end
  grid > c[span-sm$="+1"], grid > c[span-sm="1"] { --grid-ce: 1 }
  grid > c[span-sm$="+2"], grid > c[span-sm$="-1"], grid > c[span-sm="2"] { --grid-ce: 2 }
  grid > c[span-sm$="+3"], grid > c[span-sm$="-2"], grid > c[span-sm="3"] { --grid-ce: 3 }
  grid > c[span-sm$="+4"], grid > c[span-sm$="-3"], grid > c[span-sm="4"] { --grid-ce: 4 }
  grid > c[span-sm$="+5"], grid > c[span-sm$="-4"], grid > c[span-sm="5"] { --grid-ce: 5 }
  grid > c[span-sm$="+6"], grid > c[span-sm$="-5"], grid > c[span-sm="6"] { --grid-ce: 6 }
  grid > c[span-sm$="+7"], grid > c[span-sm$="-6"], grid > c[span-sm="7"] { --grid-ce: 7 }
  grid > c[span-sm$="+8"], grid > c[span-sm$="-7"], grid > c[span-sm="8"] { --grid-ce: 8 }
  grid > c[span-sm$="+9"], grid > c[span-sm$="-8"], grid > c[span-sm="9"] { --grid-ce: 9 }
  grid > c[span-sm$="+10"], grid > c[span-sm$="-9"], grid > c[span-sm="10"] { --grid-ce: 10 }
  grid > c[span-sm$="+11"], grid > c[span-sm$="-10"], grid > c[span-sm="11"] { --grid-ce: 11 }
  grid > c[span-sm$="+12"], grid > c[span-sm$="-11"], grid > c[span-sm="12"] { --grid-ce: 12 }
  grid > c[span-sm$="+13"], grid > c[span-sm$="-12"], grid > c[span-sm="13"] { --grid-ce: 13 }
  grid > c[span-sm$="+14"], grid > c[span-sm$="-13"], grid > c[span-sm="14"] { --grid-ce: 14 }
  grid > c[span-sm$="+15"], grid > c[span-sm$="-14"], grid > c[span-sm="15"] { --grid-ce: 15 }
  grid > c[span-sm$="+16"], grid > c[span-sm$="-15"], grid > c[span-sm="16"] { --grid-ce: 16 }
  grid > c[span-sm$="+17"], grid > c[span-sm$="-16"], grid > c[span-sm="17"] { --grid-ce: 17 }
  grid > c[span-sm$="+18"], grid > c[span-sm$="-17"], grid > c[span-sm="18"] { --grid-ce: 18 }
  grid > c[span-sm$="+19"], grid > c[span-sm$="-18"], grid > c[span-sm="19"] { --grid-ce: 19 }
  grid > c[span-sm$="+20"], grid > c[span-sm$="-19"], grid > c[span-sm="20"] { --grid-ce: 20 }
  grid > c[span-sm$="+21"], grid > c[span-sm$="-20"], grid > c[span-sm="21"] { --grid-ce: 21 }
  grid > c[span-sm$="+22"], grid > c[span-sm$="-21"], grid > c[span-sm="22"] { --grid-ce: 22 }
  grid > c[span-sm$="+23"], grid > c[span-sm$="-22"], grid > c[span-sm="23"] { --grid-ce: 23 }
  grid > c[span-sm$="+24"], grid > c[span-sm$="-23"], grid > c[span-sm="24"] { --grid-ce: 24 }
  grid > c[span-sm$="+25"], grid > c[span-sm$="-24"], grid > c[span-sm="25"] { --grid-ce: 25 }
  grid > c[span-sm$="+26"], grid > c[span-sm$="-25"], grid > c[span-sm="26"] { --grid-ce: 26 }
  grid > c[span-sm$="+27"], grid > c[span-sm$="-26"], grid > c[span-sm="27"] { --grid-ce: 27 }
  grid > c[span-sm$="+28"], grid > c[span-sm$="-27"], grid > c[span-sm="28"] { --grid-ce: 28 }
  grid > c[span-sm$="+29"], grid > c[span-sm$="-28"], grid > c[span-sm="29"] { --grid-ce: 29 }
  grid > c[span-sm$="+30"], grid > c[span-sm$="-29"], grid > c[span-sm="30"] { --grid-ce: 30 }
  grid > c[span-sm$="-30"] { --grid-ce: 31 }
  
  // Connect vars
  grid > c[span-sm] { grid-column-end: span var(--grid-ce) }
  grid > c[span-sm*="+"], grid > c[span-sm*="-"], grid > c[span-sm*=".."] {
    grid-column-start: var(--grid-cs) }
  grid > c[span-sm*="-"], grid > c[span-sm*=".."] {
    grid-column-end: var(--grid-ce) }
  grid > c[span-sm="row"] { grid-column: 1 / -1 }
}

// For window width >= 1200 px
@media (min-width: 1200px) {
  grid[columns-xl="1"] { --grid-tc: repeat(1, 1fr) }
  grid[columns-xl="2"] { --grid-tc: repeat(2, 1fr) }
  grid[columns-xl="3"] { --grid-tc: repeat(3, 1fr) }
  grid[columns-xl="4"] { --grid-tc: repeat(4, 1fr) }
  grid[columns-xl="5"] { --grid-tc: repeat(5, 1fr) }
  grid[columns-xl="6"] { --grid-tc: repeat(6, 1fr) }
  grid[columns-xl="7"] { --grid-tc: repeat(7, 1fr) }
  grid[columns-xl="8"] { --grid-tc: repeat(8, 1fr) }
  grid[columns-xl="9"] { --grid-tc: repeat(9, 1fr) }
  grid[columns-xl="10"] { --grid-tc: repeat(10, 1fr) }
  grid[columns-xl="11"] { --grid-tc: repeat(11, 1fr) }
  grid[columns-xl="12"] { --grid-tc: repeat(12, 1fr) }
  grid[columns-xl="13"] { --grid-tc: repeat(13, 1fr) }
  grid[columns-xl="14"] { --grid-tc: repeat(14, 1fr) }
  grid[columns-xl="15"] { --grid-tc: repeat(15, 1fr) }
  grid[columns-xl="16"] { --grid-tc: repeat(16, 1fr) }
  grid[columns-xl="17"] { --grid-tc: repeat(17, 1fr) }
  grid[columns-xl="18"] { --grid-tc: repeat(18, 1fr) }
  grid[columns-xl="19"] { --grid-tc: repeat(19, 1fr) }
  grid[columns-xl="20"] { --grid-tc: repeat(20, 1fr) }
  grid[columns-xl="21"] { --grid-tc: repeat(21, 1fr) }
  grid[columns-xl="22"] { --grid-tc: repeat(22, 1fr) }
  grid[columns-xl="23"] { --grid-tc: repeat(23, 1fr) }
  grid[columns-xl="24"] { --grid-tc: repeat(24, 1fr) }
  grid[columns-xl="25"] { --grid-tc: repeat(25, 1fr) }
  grid[columns-xl="26"] { --grid-tc: repeat(26, 1fr) }
  grid[columns-xl="27"] { --grid-tc: repeat(27, 1fr) }
  grid[columns-xl="28"] { --grid-tc: repeat(28, 1fr) }
  grid[columns-xl="29"] { --grid-tc: repeat(29, 1fr) }
  grid[columns-xl="30"] { --grid-tc: repeat(30, 1fr) }
  
  // span-xl=start...
  grid > c[span-xl^="1"] { --grid-cs: 1 }
  grid > c[span-xl^="2"] { --grid-cs: 2 }
  grid > c[span-xl^="3"] { --grid-cs: 3 }
  grid > c[span-xl^="4"] { --grid-cs: 4 }
  grid > c[span-xl^="5"] { --grid-cs: 5 }
  grid > c[span-xl^="6"] { --grid-cs: 6 }
  grid > c[span-xl^="7"] { --grid-cs: 7 }
  grid > c[span-xl^="8"] { --grid-cs: 8 }
  grid > c[span-xl^="9"] { --grid-cs: 9 }
  grid > c[span-xl^="10"] { --grid-cs: 10 }
  grid > c[span-xl^="11"] { --grid-cs: 11 }
  grid > c[span-xl^="12"] { --grid-cs: 12 }
  grid > c[span-xl^="13"] { --grid-cs: 13 }
  grid > c[span-xl^="14"] { --grid-cs: 14 }
  grid > c[span-xl^="15"] { --grid-cs: 15 }
  grid > c[span-xl^="16"] { --grid-cs: 16 }
  grid > c[span-xl^="17"] { --grid-cs: 17 }
  grid > c[span-xl^="18"] { --grid-cs: 18 }
  grid > c[span-xl^="19"] { --grid-cs: 19 }
  grid > c[span-xl^="20"] { --grid-cs: 20 }
  grid > c[span-xl^="21"] { --grid-cs: 21 }
  grid > c[span-xl^="22"] { --grid-cs: 22 }
  grid > c[span-xl^="23"] { --grid-cs: 23 }
  grid > c[span-xl^="24"] { --grid-cs: 24 }
  grid > c[span-xl^="25"] { --grid-cs: 25 }
  grid > c[span-xl^="26"] { --grid-cs: 26 }
  grid > c[span-xl^="27"] { --grid-cs: 27 }
  grid > c[span-xl^="28"] { --grid-cs: 28 }
  grid > c[span-xl^="29"] { --grid-cs: 29 }
  grid > c[span-xl^="30"] { --grid-cs: 30 }
  
  // span-xl=...+width, span-xl=...-end
  grid > c[span-xl$="+1"], grid > c[span-xl="1"] { --grid-ce: 1 }
  grid > c[span-xl$="+2"], grid > c[span-xl$="-1"], grid > c[span-xl="2"] { --grid-ce: 2 }
  grid > c[span-xl$="+3"], grid > c[span-xl$="-2"], grid > c[span-xl="3"] { --grid-ce: 3 }
  grid > c[span-xl$="+4"], grid > c[span-xl$="-3"], grid > c[span-xl="4"] { --grid-ce: 4 }
  grid > c[span-xl$="+5"], grid > c[span-xl$="-4"], grid > c[span-xl="5"] { --grid-ce: 5 }
  grid > c[span-xl$="+6"], grid > c[span-xl$="-5"], grid > c[span-xl="6"] { --grid-ce: 6 }
  grid > c[span-xl$="+7"], grid > c[span-xl$="-6"], grid > c[span-xl="7"] { --grid-ce: 7 }
  grid > c[span-xl$="+8"], grid > c[span-xl$="-7"], grid > c[span-xl="8"] { --grid-ce: 8 }
  grid > c[span-xl$="+9"], grid > c[span-xl$="-8"], grid > c[span-xl="9"] { --grid-ce: 9 }
  grid > c[span-xl$="+10"], grid > c[span-xl$="-9"], grid > c[span-xl="10"] { --grid-ce: 10 }
  grid > c[span-xl$="+11"], grid > c[span-xl$="-10"], grid > c[span-xl="11"] { --grid-ce: 11 }
  grid > c[span-xl$="+12"], grid > c[span-xl$="-11"], grid > c[span-xl="12"] { --grid-ce: 12 }
  grid > c[span-xl$="+13"], grid > c[span-xl$="-12"], grid > c[span-xl="13"] { --grid-ce: 13 }
  grid > c[span-xl$="+14"], grid > c[span-xl$="-13"], grid > c[span-xl="14"] { --grid-ce: 14 }
  grid > c[span-xl$="+15"], grid > c[span-xl$="-14"], grid > c[span-xl="15"] { --grid-ce: 15 }
  grid > c[span-xl$="+16"], grid > c[span-xl$="-15"], grid > c[span-xl="16"] { --grid-ce: 16 }
  grid > c[span-xl$="+17"], grid > c[span-xl$="-16"], grid > c[span-xl="17"] { --grid-ce: 17 }
  grid > c[span-xl$="+18"], grid > c[span-xl$="-17"], grid > c[span-xl="18"] { --grid-ce: 18 }
  grid > c[span-xl$="+19"], grid > c[span-xl$="-18"], grid > c[span-xl="19"] { --grid-ce: 19 }
  grid > c[span-xl$="+20"], grid > c[span-xl$="-19"], grid > c[span-xl="20"] { --grid-ce: 20 }
  grid > c[span-xl$="+21"], grid > c[span-xl$="-20"], grid > c[span-xl="21"] { --grid-ce: 21 }
  grid > c[span-xl$="+22"], grid > c[span-xl$="-21"], grid > c[span-xl="22"] { --grid-ce: 22 }
  grid > c[span-xl$="+23"], grid > c[span-xl$="-22"], grid > c[span-xl="23"] { --grid-ce: 23 }
  grid > c[span-xl$="+24"], grid > c[span-xl$="-23"], grid > c[span-xl="24"] { --grid-ce: 24 }
  grid > c[span-xl$="+25"], grid > c[span-xl$="-24"], grid > c[span-xl="25"] { --grid-ce: 25 }
  grid > c[span-xl$="+26"], grid > c[span-xl$="-25"], grid > c[span-xl="26"] { --grid-ce: 26 }
  grid > c[span-xl$="+27"], grid > c[span-xl$="-26"], grid > c[span-xl="27"] { --grid-ce: 27 }
  grid > c[span-xl$="+28"], grid > c[span-xl$="-27"], grid > c[span-xl="28"] { --grid-ce: 28 }
  grid > c[span-xl$="+29"], grid > c[span-xl$="-28"], grid > c[span-xl="29"] { --grid-ce: 29 }
  grid > c[span-xl$="+30"], grid > c[span-xl$="-29"], grid > c[span-xl="30"] { --grid-ce: 30 }
  grid > c[span-xl$="-30"] { --grid-ce: 31 }
  
  // Connect vars
  grid > c[span-xl] { grid-column-end: span var(--grid-ce) }
  grid > c[span-xl*="+"], grid > c[span-xl*="-"], grid > c[span-xl*=".."] {
    grid-column-start: var(--grid-cs) }
  grid > c[span-xl*="-"], grid > c[span-xl*=".."] {
    grid-column-end: var(--grid-ce) }
  grid > c[span-xl="row"] { grid-column: 1 / -1 }
}

//
// Debug class to visualize its effective cells
//
grid.debug {
  > * {
    --color-debug: rgba(248, 110, 91, 0.3);
    background-image: linear-gradient(to bottom, var(--color-debug) 0%, var(--color-debug) 100%);
  }
  > :nth-child(6n+2) { --color-debug: rgba(103, 126, 208, 0.3) }
  > :nth-child(6n+3) { --color-debug: rgba(224, 174, 72, 0.3) }
  > :nth-child(6n+4) { --color-debug: rgba(77, 214, 115, 0.3) }
  > :nth-child(6n+5) { --color-debug: rgba(217, 103, 219, 0.3) }
  > :nth-child(6n+6) { --color-debug: rgba(94, 204, 211, 0.3) }
  > :nth-child(6n+7) { --color-debug: rgba(248, 110, 91, 0.3) }
}
