$columns: 12 !default;

.columns {
  @extend %block;

  display: flex;
  flex-wrap: wrap;

  //
  // Modifiers
  //

  &.is-centered {
    justify-content: center;
  }

  &.is-vcentered {
    align-items: center;
  }

  //
  // Columns
  //

  > * {
    display: block;
    flex: 1 1 0;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-above($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      > .span-narrow#{$infix} {
        flex: 0 0 auto;
        width: auto;
      }

      > .span-full#{$infix} {
        flex: none;
        width: 100%;
      }

      @for $i from 1 through $columns {
        > .span-#{$i}#{$infix} {
          flex: none;
          width: percentage($i / 12);
        }
      }
    }
  }
}
