.content {
  overflow-wrap: break-word;

  //
  // Vertical block spacing
  //

  > *:not(:last-child) {
    margin-bottom: calc(var(--space-m) * var(--block-vspace-multiplier, 1));
  }

  h1,
  h2,
  h3,
  h4 {
    &:not(:first-child) {
      margin-top: calc(var(--space-xl) * var(--block-vspace-multiplier, 1));
    }
  }

  hr {
    width: 100%;
    margin: calc(var(--space-m) * var(--block-vspace-multiplier, 1)) auto;
  }

  //
  // Headings
  //

  h1,
  h2,
  h3,
  h4 {
    line-height: var(--line-height-heading);
  }

  h1 { font-size: var(--text-2); }
  h2 { font-size: var(--text-3); }
  h3 { font-size: var(--text-4); }
  h4 { font-size: var(--text-5); }
  h5 { font-size: var(--text-6); }
  h6 { font-size: var(--text-6); }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  //
  // Text-level semantics
  //

  li + li {
    margin-top: calc(var(--space-xxxs) * var(--block-vspace-multiplier, 1));
  }

  //
  // Common content elements
  //

  ul,
  ol,
  dd {
    &:not([class]) {
      margin-left: 2em;
    }
  }

  ul ul {
    margin-top: calc(var(--space-xs) * var(--block-vspace-multiplier, 1));
  }

  blockquote {
    background-color: var(--color-contrast-lowest);
    border-left: 5px solid var(--color-contrast-lower);
    padding: var(--space-s) 2em var(--space-s) calc(2em - 5px);
  }

  figure {
    text-align: center;
    // margin-right: 2em;
    // margin-left: 2em;

    img {
      display: inline-block;
    }

    figcaption {
      margin-top: calc(var(--space-xs) * var(--block-vspace-multiplier, 1));
      line-height: var(--line-height-heading);
    }
  }
}
