$grid-columns: 12 !default;

.grid {
  display: grid;
  gap: var(--grid-gap, 0px);

  &:not([class*="is-auto-"]) {
    --grid-columns: #{$grid-columns};
    grid-template-columns: repeat(var(--grid-columns), 1fr);

    > * {
      grid-column: span var(--span, #{$grid-columns}) / span var(--span, #{$grid-columns});
    }
  }

  &.is-auto-xsmall,
  &.is-auto-small,
  &.is-auto-medium,
  &.is-auto-large,
  &.is-auto-xlarge {
    grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
  }

  &.has-gap-xs { --grid-gap: var(--space-xs); }
  &.has-gap-s  { --grid-gap: var(--space-s); }
  &.has-gap-m  { --grid-gap: var(--space-m); }
  &.has-gap-l  { --grid-gap: var(--space-l); }
  &.has-gap-xl { --grid-gap: var(--space-xl); }
}

//
// Breakpoints
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-above($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .grid {
      &.is-auto-spans#{$infix} {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      }

      &.is-auto-xsmall#{$infix} { --col-min-width: 8rem; }
      &.is-auto-small#{$infix}  { --col-min-width: 10rem; }
      &.is-auto-medium#{$infix} { --col-min-width: 15rem; }
      &.is-auto-large#{$infix}  { --col-min-width: 20rem; }
      &.is-auto-xlarge#{$infix} { --col-min-width: 25rem; }
    }

    @for $i from 1 through $grid-columns {
      .span-#{$i}#{$infix}         { --span: #{$i}; }
      .span-start-#{$i}#{$infix}   { grid-column-start: #{$i}; }
      .span-end-#{$i + 1}#{$infix} { grid-column-end: #{$i + 1}; }
    }

    .span-start#{$infix}           { grid-column-start: 1; }
    .span-end#{$infix}             { grid-column-end: -1; }

    .span-start-auto#{$infix}      { grid-column-start: auto; }
    .span-end-auto#{$infix}        { grid-column-end: auto; }
  }
}
