.control {
  @extend %control;

  width: 100%;
  justify-content: flex-start;
  background-color: var(--color-background);
  border-color: var(--color-contrast-lower);
  color: var(--color-text);
  padding: var(--space-xxs) var(--space-xs);
  @include transition(/*border-color 0.15s ease-in-out,*/ box-shadow 0.15s ease-in-out);

  &:hover {
    border-color: var(--color-contrast-low);
  }

  &:focus,
  &:active {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-a50);
  }

  &::placeholder {
    color: var(--color-contrast-low);
    opacity: 1;
  }

  &.is-error {
    border-color: var(--color-red);
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px var(--color-red-a50);
    }
  }

  &.is-success {
    border-color: var(--color-green);
    &:focus,
    &:active {
      box-shadow: 0 0 0 3px var(--color-green-a50);
    }
  }

  &[readonly] {
    box-shadow: none;
  }

  &[disabled] {
    background-color: var(--color-contrast-lowest);
    border-color: var(--color-contrast-lowest);
    color: var(--color-contrast-low);
    box-shadow: none;
  }

  &[aria-invalid="true"] {
    border-color: var(--color-red);
    &:focus {
      box-shadow: 0 0 0 3px var(--color-red-a50);
    }
  }
}

.legend {
  color: var(--color-text);
  line-height: var(--line-height-heading);
  font-size: var(--text-5);
  margin-bottom: var(--space-xxs);
}

.label {
  margin-bottom: var(--space-xxs);
}

.help {
  font-size: var(--text-s);
  margin-top: var(--space-xs);

  &.is-error {
    color: var(--color-red);
  }

  &.is-success {
    color: var(--color-green);
  }
}
