.label {
  margin-bottom: var(--space-xxs);
}

.control {
  @extend %control;
  max-width: 100%;
  width: 100%;
  justify-content: flex-start;
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);
  padding: var(--space-xxs) var(--space-xs);
  @include transition(/*border-color 0.15s ease-in-out,*/ box-shadow 0.15s ease-in-out);

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-a50);
  }

  &::placeholder {
    color: var(--color-contrast-low);
    opacity: 1;
  }

  &[aria-invalid="true"],
  &.is-error {
    border-color: var(--color-danger);
    &:focus {
      box-shadow: 0 0 0 3px var(--color-danger-a50);
    }
  }

  &.is-success {
    border-color: var(--color-success);
    &:focus {
      box-shadow: 0 0 0 3px var(--color-success-a50);
    }
  }

  &[disabled] {
    background-color: var(--color-contrast-lowest);
    border-color: var(--color-contrast-lowest);
    color: var(--color-contrast-medium);
  }

  //
  // Modifiers
  //

  &.is-fullwidth {
    display: block;
    width: 100%;
  }

  &.is-inline {
    display: inline;
  }
}

textarea.control {
  display: block;
  min-width: 100%;

  &:not([rows]) {
    max-height: 40em;
    min-height: 8em;
  }

  &[rows] {
    height: initial;
  }
}

.help {
  font-size: var(--text-s);
  margin-top: var(--space-xs);

  &.is-error {
    color: var(--color-danger);
  }

  &.is-success {
    color: var(--color-success);
  }
}
