.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 40;

  &.is-active {
    display: flex;
  }
}

.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
.modal-card {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 20px);
  margin: 0 20px;
  overflow: auto;

  @include media-breakpoint-above(tablet) {
    width: 640px;
    max-height: calc(100vh - 40px);
    margin: 0 auto;
  }
}

.modal-close {
  @extend %unselectable;

  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  border-radius: var(--radius-rounded);
  cursor: pointer;
  pointer-events: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: none;
  position: relative;
  vertical-align: top;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &::before {
    width: 50%;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 50%;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
