//
// Raster grid subsystem (rsms.me/raster)
//

$raster-columns: 12 !default;

$raster-breakpoints: (
  s: 0,
  m: 640px,
  l: 1024px
) !default;

.r-grid {
  display: grid;
  --grid-tc: repeat(4, 1fr); // Template columns
  grid-template-columns: var(--grid-tc);
  --grid-cs: 1; // Column start
  --grid-ce: -1; // Column end

  // Cell or column
  > .r-cell {
    -webkit-appearance: none;
    appearance: none;
    display: block;
  }

  @each $breakpoint in map-keys($raster-breakpoints) {
    @include media-breakpoint-above($breakpoint, $raster-breakpoints) {
      $infix: breakpoint-infix($breakpoint, $raster-breakpoints);

      @for $i from 1 through $raster-columns {
        &[columns#{$infix}="#{$i}"] { --grid-tc: repeat(#{$i}, 1fr); }
      }

      > .r-cell {
        // span=start...
        @for $i from 1 through $raster-columns {
          &[span#{$infix}^="#{$i}"] { --grid-cs: #{$i}; }
        }

        // span=...+width, span=...-end
        &[span#{$infix}$="+1"], &[span="1"] { --grid-ce: 1; }

        @for $i from 1 through $raster-columns {
          $min: $i - 1;
          &[span#{$infix}$="+#{$i}"],
          &[span#{$infix}$="-#{$i - 1}"],
          &[span#{$infix}="#{$i}"] {
            --grid-ce: #{$i};
          }
        }

        &[span#{$infix}$="-#{$raster-columns}"] { --grid-ce: #{$raster-columns + 1}; }

        // Connect vars
        &[span#{$infix}] {
          grid-column-end: span var(--grid-ce);
        }

        &[span#{$infix}*="+"],
        &[span#{$infix}*="-"],
        &[span#{$infix}*=".."] {
          grid-column-start: var(--grid-cs);
        }

        &[span#{$infix}*="-"],
        &[span#{$infix}*=".."] {
          grid-column-end: var(--grid-ce);
        }

        &[span#{$infix}="row"] {
          grid-column: 1 / -1;
        }
      }
    }
  }

  &.is-debug {
    > * {
      --color: rgba(248, 110, 91, 0.3);
      background-image: linear-gradient(to bottom, var(--color) 0%, var(--color) 100%);
    }

    > :nth-child(6n+2) { --color: rgba(103, 126, 208, 0.3); }
    > :nth-child(6n+3) { --color: rgba(224, 174, 72, 0.3); }
    > :nth-child(6n+4) { --color: rgba(77, 214, 115, 0.3); }
    > :nth-child(6n+5) { --color: rgba(217, 103, 219, 0.3); }
    > :nth-child(6n+6) { --color: rgba(94, 204, 211, 0.3); }
    > :nth-child(6n+7) { --color: rgba(248, 110, 91, 0.3); }
  }
}
