// Improve font rendering on HiDPI devices
@media
 screen and (-webkit-min-device-pixel-ratio: 2),
 screen and (min-resolution: 2dppx) {
 body {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
}

//
// Document
//

html {
  background-color: var(--color-background, white);
  min-width: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: var(--font-primary);
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  color: var(--color-contrast-high);
}

//
// Grouping content
//

hr {
  display: block;
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: var(--space-md) 0;
}

//
// Text-level semantics
//

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    color: var(--color-text);
    text-decoration: none;
  }
}

mark {
  background-color: #fff4d1;
  color: inherit;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

//
// Headings
//

.title {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
  @extend %block;
}

.title.is-display,
.is-size-display {
  font-size: var(--text-display);
}

.title.is-1,
.is-size-1 {
  font-size: var(--text-1);
}

.title.is-2,
.is-size-2 {
  font-size: var(--text-2);
}

.title.is-3,
.is-size-3 {
  font-size: var(--text-3);
}

.title.is-4,
.is-size-4 {
  font-size: var(--text-4);
}

.title.is-5,
.is-size-5 {
  font-size: var(--text-5);
}

.title.is-6,
.is-size-6 {
  font-size: var(--text-6);
}

//
// Tabular data
//

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }
}

//
// Form controls
//

.button,
.form-control {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  display: inline-flex;
  border: 1px solid transparent;
  border-radius: var(--radius);
  font-size: var(--control-text-size);
  box-shadow: none;
  padding: var(--space-xs) var(--space-sm);
  justify-content: flex-start;
  align-items: center;
  vertical-align: top;
  &:focus,
  &:active {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}
