// Improve font rendering on HiDPI devices
@media
 screen and (-webkit-min-device-pixel-ratio: 2),
 screen and (min-resolution: 2dppx) {
 body {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
 }
}

//
// Document
//

html {
  background-color: var(--color-background, white);
  min-width: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
  font-family: var(--font-primary);
}

body {
  font-size: var(--text-base-size);
  color: var(--color-contrast-high);
}

//
// Grouping content
//

hr {
  display: block;
  margin: var(--space-md) 0;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 80%); // equals `#ccc`
}

//
// Text-level semantics
//

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
  &:hover {
    color: var(--color-text);
    text-decoration: underline;
  }
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

mark {
  background-color: #fcf8e3;
  color: inherit;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

//
// Headings
//

.title {
  color: var(--color-contrast-higher);
  line-height: var(--heading-line-height);
  @extend %block;
}

.title.is-display,
.is-size-display {
  font-size: var(--text-display);
}

.title.is-1,
.is-size-1 {
  font-size: var(--text-1);
}

.title.is-2,
.is-size-2 {
  font-size: var(--text-2);
}

.title.is-3,
.is-size-3 {
  font-size: var(--text-3);
}

.title.is-4,
.is-size-4 {
  font-size: var(--text-4);
}

.title.is-5,
.is-size-5 {
  font-size: var(--text-5);
}

.title.is-6,
.is-size-6 {
  font-size: var(--text-6);
}

//
// Tabular data
//

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }
}

//
// Form controls
//

.button,
.form-control {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: var(--radius);
  box-shadow: none;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus,
  &:active {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}
