// Colors

.has-text-primary { color: var(--color-primary) !important; }
.has-text-accent  { color: var(--color-accent) !important; }
.has-text-white   { color: var(--color-white) !important; }
.has-text-light   { color: var(--color-contrast-low) !important; }
.has-text-dark    { color: var(--color-contrast-high) !important; }

.has-background-primary { background-color: var(--color-primary) !important; }
.has-background-accent  { background-color: var(--color-accent) !important; }
.has-background-white   { background-color: var(--color-white) !important; }
.has-background-light   { background-color: var(--color-contrast-low) !important; }
.has-background-dark    { background-color: var(--color-contrast-high) !important; }

// Common spacing values

$sizes: xxxs, xxs, xs, sm, md, lg, xl, xxl, xxxl;
@each $size in $sizes {
  .has-padding-top-#{$size}    { padding-top: var(--space-#{$size}) !important; }
  .has-padding-bottom-#{$size} { padding-bottom: var(--space-#{$size}) !important; }
  .has-margin-top-#{$size}     { margin-top: var(--space-#{$size}) !important; }
  .has-margin-bottom-#{$size}  { margin-bottom: var(--space-#{$size}) !important; }
}

// Standard distances if no sizes is given
.has-padding-top               { padding-top: var(--space-md) !important; }
.has-padding-bottom            { padding-bottom: var(--space-md) !important; }
.has-margin-top                { margin-top: var(--space-md) !important; }
.has-margin-bottom             { margin-bottom: var(--space-md) !important; }

// Typography

.has-text-left     { text-align: left !important; }
.has-text-right    { text-align: right !important; }
.has-text-centered { text-align: center !important; }

@each $breakpoint in map-keys($grid-breakpoints) {
  @include breakpoint($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .has-text-#{$infix}-left     { text-align: left !important; }
    .has-text-#{$infix}-right    { text-align: right !important; }
    .has-text-#{$infix}-centered { text-align: center !important; }
  }
}

.has-text-weight-light    { font-weight: 300 !important; }
.has-text-weight-normal   { font-weight: 400 !important; }
.has-text-weight-semibold { font-weight: 600 !important; }
.has-text-weight-bold     { font-weight: 700 !important; }

// Miscellaneous

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.is-unselectable {
  @extend %unselectable;
}

// Only display content to screen readers
.is-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
