//
// Colors
//

.has-text-primary             { color: var(--color-primary) !important; }
.has-text-accent              { color: var(--color-accent) !important; }
.has-text-white               { color: var(--color-white) !important; }
.has-text-lightest            { color: var(--color-contrast-lightest) !important; }
.has-text-lighter             { color: var(--color-contrast-lighter) !important; }
.has-text-light               { color: var(--color-contrast-light) !important; }
.has-text-dark                { color: var(--color-contrast-dark) !important; }
.has-text-darker              { color: var(--color-contrast-darker) !important; }
.has-text-black               { color: var(--color-black) !important; }
.has-text-current-color       { color: currentColor !important; }
.has-text-inherit             { color: inherit !important; }

.has-background-primary       { background-color: var(--color-primary) !important; }
.has-background-accent        { background-color: var(--color-accent) !important; }
.has-background-white         { background-color: var(--color-white) !important; }
.has-background-lightest      { background-color: var(--color-contrast-lightest) !important; }
.has-background-lighter       { background-color: var(--color-contrast-lighter) !important; }
.has-background-light         { background-color: var(--color-contrast-light) !important; }
.has-background-dark          { background-color: var(--color-contrast-dark) !important; }
.has-background-darker        { background-color: var(--color-contrast-darker) !important; }
.has-background-black         { background-color: var(--color-black) !important; }
.has-background-current-color { background-color: currentColor !important; }

//
// Common spacing values
//

.has-padding-xxxsmall         { padding: var(--space-xxxsmall) !important; }
.has-padding-xxsmall          { padding: var(--space-xxsmall) !important; }
.has-padding-xsmall           { padding: var(--space-xsmall) !important; }
.has-padding-small            { padding: var(--space-small) !important; }
.has-padding-medium           { padding: var(--space-medium) !important; }
.has-padding-large            { padding: var(--space-large) !important; }
.has-padding-xlarge           { padding: var(--space-xlarge) !important; }
.has-padding-xxlarge          { padding: var(--space-xxlarge) !important; }
.has-padding-xxxlarge         { padding: var(--space-xxxlarge) !important; }
.has-margin-xxxsmall          { margin: var(--space-xxxsmall) !important; }
.has-margin-xxsmall           { margin: var(--space-xxsmall) !important; }
.has-margin-xsmall            { margin: var(--space-xsmall) !important; }
.has-margin-small             { margin: var(--space-small) !important; }
.has-margin-medium            { margin: var(--space-medium) !important; }
.has-margin-large             { margin: var(--space-large) !important; }
.has-margin-xlarge            { margin: var(--space-xlarge) !important; }
.has-margin-xxlarge           { margin: var(--space-xxlarge) !important; }
.has-margin-xxxlarge          { margin: var(--space-xxxlarge) !important; }

.has-padding-top              { padding-top: var(--space-medium) !important; }
.has-padding-bottom           { padding-bottom: var(--space-medium) !important; }
.has-margin-top               { margin-top: var(--space-medium) !important; }
.has-margin-bottom            { margin-bottom: var(--space-medium) !important; }

$spacing-sizes: xxxsmall, xxsmall, xsmall, small, medium, large, xlarge, xxlarge, xxxlarge;
@each $size in $spacing-sizes {
  .has-padding-top-#{$size}    { padding-top: var(--space-#{$size}) !important; }
  .has-padding-bottom-#{$size} { padding-bottom: var(--space-#{$size}) !important; }
  .has-margin-top-#{$size}     { margin-top: var(--space-#{$size}) !important; }
  .has-margin-bottom-#{$size}  { margin-bottom: var(--space-#{$size}) !important; }
}

//
// Text sizes
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @for $i from 1 through 6 {
      .is-size#{$infix}-#{$i} {
        font-size: var(--text-#{$i}) !important;
      }
    }
  }
}

//
// Typography
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .has-text#{$infix}-left     { text-align: left !important; }
    .has-text#{$infix}-right    { text-align: right !important; }
    .has-text#{$infix}-centered { text-align: center !important; }
  }
}

.has-text-weight-light    { font-weight: 300 !important; }
.has-text-weight-normal   { font-weight: 400 !important; }
.has-text-weight-semibold { font-weight: 600 !important; }
.has-text-weight-bold     { font-weight: 700 !important; }

.is-lowercase {
  text-transform: lowercase !important;
}

.is-uppercase {
  text-transform: uppercase !important;
}

.is-italic {
  font-style: italic !important;
}

//
// Accessability
//

// Make element visually invisible but still accessible to screen-readers
.is-sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  clip: rect(0 0 0 0);
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

//
// Miscellaneous
//

.is-marginless {
  margin: 0 !important;
}

.is-paddingless {
  padding: 0 !important;
}

.is-radiusless {
  border-radius: 0 !important;
}

.is-shadowless {
  box-shadow: none !important;
}

.is-unselectable {
  @extend %unselectable;
}

.is-contained {
  object-fit: contain !important;
}

.is-covered {
  object-fit: cover !important;
}

//
// Common `display` values
//

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .is#{$infix}-hidden { display: none !important; }
    .is#{$infix}-inline { display: inline !important; }
    .is#{$infix}-block  { display: block !important; }
  }
}
