//
// Document
//

// Remove default spacing (opinionated).
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ol,
ul,
li,
dl,
dt,
dd,
figure,
blockquote,
fieldset,
legend,
textarea,
pre,
iframe {
  margin: 0;
  padding: 0;
}

// Change from `box-sizing: content-box` so that `width` is not affected by
// `padding` or `border` in all browsers (opinionated).
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  // Correct the line height in all browsers.
  line-height: 1.15;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
}

// Use a more readable tab size (opinionated).
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
[tabindex="-1"]:focus {
  outline: none !important;
}

//
// Sections
//

// Normalize all headings to text-level size (opinionated).
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

//
// Text-level semantics
//

// Remove list style in all browsers (opinionated).
ol,
ul {
  list-style: none;
}

abbr[title] {
  // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  text-decoration: underline dotted;
  // Add explicit cursor to indicate changed behavior.
  cursor: help;
  // Prevent the text-decoration to be skipped.
  text-decoration-skip-ink: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
  overflow-x: auto;
}

small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

//
// Embedded content
//

// Change the alignment on media elements in all browers (opinionated).
img,
svg,
audio,
video,
canvas,
iframe {
  vertical-align: middle;
}

// Responsive image and video:
// Keep both elements from scaling beyond the width of their parents.
img,
video {
  max-width: 100%; // Set a maximum relative to the parent.
  height: auto; // Override the height to `auto`, otherwise the elements
  // will be stretched when setting a width and height attribute on them.
}

// Change the fill color to match the text color in all browsers (opinionated).
svg:not([fill]) {
  fill: currentColor;
}

//
// Tabular data
//

table {
  border-collapse: collapse; // Prevent double borders.
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

//
// Forms
//

// Allow labels to use `margin` for spacing.
label {
  display: inline-block;
}

// Remove the default `border-radius` that macOS Chrome adds.
button {
  border-radius: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Add "hand" cursor to non-disabled button elements (opinionated).
button,
[type="button"],
[type="reset"],
[type="submit"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  border: 0;
}

// Change the resize direction on textareas in all browsers (opinionated).
textarea {
  resize: vertical;
}

//
// Interactive
//

// Add the correct display in all browsers.
summary {
  display: list-item;
  cursor: pointer;
}

//
// Accessibility
//

// Change the cursor on busy elements in all browsers (opinionated).
[aria-busy="true"] {
  cursor: progress;
}

// Change the cursor on control elements in all browsers (opinionated).
[aria-controls] {
  cursor: pointer;
}

// Change the cursor on disabled, not-editable, or otherwise
// inoperable elements in all browsers (opinionated).
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
