//
// Document
//

// Remove default spacing (opinionated).
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
hr,
pre,
figure,
blockquote,
fieldset,
legend,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

// Change from `box-sizing: content-box` so that `width` is not affected by
// `padding` or `border` in all browsers.
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  // Use the default cursor in all browsers (opinionated).
  // cursor: default;
  // Change the line height in all browsers (opinionated).
  line-height: 1.15;
  // Use a 4-space tab width in all browsers (opinionated).
  -moz-tab-size: 4;
  tab-size: 4;
  // Remove the grey highlight on links in iOS (opinionated).
  -webkit-tap-highlight-color: transparent;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
  // Breaks words to prevent overflow in all browsers (opinionated).
  // overflow-wrap: break-word;
}

// Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
// on elements that programmatically receive focus but wouldn't normally show a visible
// focus outline. In general, this would mean that the outline is only applied if the
// interaction that led to the element receiving programmatic focus was a keyboard interaction,
// or the browser has somehow determined that the user is primarily a keyboard user and/or
// wants focus outlines to always be presented.
//
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
// and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

//
// Sections
//

// Normalize all headings to text-level size (opinionated).
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

//
// Grouping content
//

hr {
  color: currentColor;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

hr:not([size]) {
  height: 1px;
}

//
// Links
//

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
/*
a:active {
  outline-width: 0;
}
*/

//
// Text-level semantics
//

// Remove list style in all browsers (opinionated).
ol,
ul {
  list-style: none;
}

abbr[title] {
  // Add the correct text decoration in Edge 18-, IE, and Safari.
  text-decoration: underline;
  text-decoration: underline dotted;
  // Add explicit cursor to indicate changed behavior.
  cursor: help;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  // Correct the odd `em` font sizing in all browsers.
  font-size: 1em;
  // Correct the inheritance and scaling of font size in all browsers.
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Don't allow content to break outside.
pre {
  overflow-x: auto;
}

// Add the correct font size in all browsers.
small {
  font-size: 80%;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

//
// Embedded content
//

// Change the alignment on media elements in all browsers (opinionated).
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Restrict sizing to the page width in all browsers (opinionated).
img,
video,
input,
select,
textarea {
  // Set a maximum relative to the parent.
  max-width: 100%;
  // Override the height to `auto`, otherwise the elements will be stretched
  // when setting a width and height attribute on them.
  height: auto;
}

// Change the fill color to match the text color in all browsers (opinionated).
svg:not([fill]) {
  fill: currentColor;
}

// Remove the border on iframes in all browsers (opinionated).
 iframe {
  border-style: none;
}

//
// Tabular data
//

table {
  border-collapse: collapse; // Prevent double borders.
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

//
// Forms
//

// Allow labels to use `margin` for spacing.
label {
  display: inline-block;
}

// Remove the margin on controls in Safari.
button,
input,
select {
  margin: 0;
}

// Change the inconsistent appearance in all browsers (opinionated).
// Add typography inheritance in all browsers (opinionated).
button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

// Change the inconsistent appearance in all browsers (opinionated).
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;

  // Change the inconsistent appearance in all browsers (opinionated).
  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }
}

// Remove the default `border-radius` that macOS Chrome adds.
button {
  border-radius: 0;
}

// Correct the inability to style upload buttons in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

// Add "hand" cursor to non-disabled button elements (opinionated).
button,
[type="button"],
[type="reset"],
[type="submit"] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  border: 0;
}

// Add the correct vertical alignment in Chrome, Edge, and Firefox.
progress {
 vertical-align: baseline;
}

// Change the resize direction in all browsers (opinionated).
textarea {
  resize: vertical;
}

[type="search"] {
  // Correct the odd appearance in Chrome, Edge, and Safari.
  -webkit-appearance: textfield;
  // Correct the outline style in Safari.
  outline-offset: -2px;
}

// Correct the cursor style of increment and decrement buttons in Safari.
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

// Correct the text style of placeholders in Chrome, Edge, and Safari.
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

// Remove the inner padding in Chrome, Edge, and Safari on macOS.
::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// Interactive
//

summary {
  // Add the correct display in all browsers.
  display: list-item;
  cursor: pointer;
}

//
// User interaction
//

// Remove the tapping delay on clickable elements in all browsers (opinionated).
/*
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}
*/

//
// Accessibility
//

// Change the cursor on busy elements in all browsers (opinionated).
[aria-busy="true"] {
  cursor: progress;
}

// Change the cursor on control elements in all browsers (opinionated).
[aria-controls] {
  cursor: pointer;
}

// Change the cursor on disabled, not-editable, or otherwise
// inoperable elements in all browsers (opinionated).
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
