// Hide focus styles if they're not needed, for example,  when an element
// receives focus via the mouse.
:focus:not(:focus-visible) {
  outline: none;
}

// Show focus styles on keyboard focus.
:focus-visible {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
