//
// Document
//

html {
  // Scales the `font-size` from a minimum of 16px (at a 320px viewport) to a
  // maximum of 18px (at a 1280px viewport).
  @include fluid-scale(16px, 18px);
  min-width: 320px;
  background-color: var(--color-background, white);
  overflow-x: hidden;
  overflow-y: scroll;
}

//
// Sections
//

body {
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

[id] {
  scroll-margin-top: 2em;
}

//
// Content grouping
//

hr {
  background-color: var(--color-border);
  margin: var(--component-spacer) 0;
  opacity: 1;
}

//
// Links
//

a {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }
}

//
// Text-level semantics
//

mark {
  background-color: hsl(46, 100%, 85%);
  color: inherit;
}

code {
  background-color: var(--color-contrast-lowest);
  color: var(--color-contrast-higher);
  font-size: 0.875em;
  padding: var(--space-xxxs) var(--space-xs);
}

pre {
  background-color: var(--color-contrast-lowest);
  font-size: 0.875em;
  padding: var(--space-s) 1rem;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }
}
