//
// Document
//

html {
  background-color: var(--color-background, white);
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--fluid-base-size);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

//
// Content grouping
//

hr {
  background-color: var(--color-border);
  margin: var(--component-spacer) 0;
  opacity: 1;
}

//
// Links
//

a {
  cursor: pointer;
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-link-hover);
  }
}

//
// Text-level semantics
//

mark {
  background-color: hsl(46, 100%, 91%);
  color: inherit;
}

code {
  background-color: var(--color-contrast-lowest);
  // color: var(--color-danger);
  font-size: 0.875em;
  padding: var(--space-xxxs) var(--space-xs);
}

pre {
  background-color: var(--color-contrast-lowest);
  font-size: 0.875em;
  padding: var(--space-s) 1em;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    // color: currentColor;
    font-size: 1em;
    padding: 0;
  }
}
