//
// Document
//

// Add border box sizing so that `width` is not affected by
// `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin.
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre,
figure,
blockquote,
fieldset,
dl,
dd {
  margin: 0;
}

html {
  // Change the line height.
  line-height: 1.5;
  // Remove the grey highlight on links in iOS.
  -webkit-tap-highlight-color: transparent;
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
}

// Set core body defaults.
body {
  min-height: 100vh;
  // scroll-behavior: smooth;
}

//
// Sections
//

// Normalize all headings to text-level size.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

//
// Content grouping
//

hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;

  // Set correct height and prevent the `size` attribute to make
  // the `hr` look like an input field.
  &:not([size]) {
    height: 1px;
  }
}

//
// Links
//

// Anchor elements that don't have a class get default styles.
a:not([class]) {
  text-decoration-skip-ink: auto;
}

// Remove the outline on focused links when they are also
// active or hovered.
// a:active {
//   outline-width: 0;
// }

//
// Text-level semantics
//

ul[class],
ol[class] {
  // Remove list style.
  list-style: none;
  // Remove default spacing.
  padding: 0;
  margin: 0;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  // Correct the odd `em` font sizing.
  font-size: 1em;
  // Correct the inheritance and scaling of font size.
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Don't allow content to break outside.
pre {
  overflow-x: auto;
}

// Add the correct font size.
small {
  font-size: 0.875em;
}

//
// Embedded content
//

// Change the alignment on media elements.
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Restrict sizing to the page width.
img,
video {
  // Set a maximum relative to the parent.
  max-width: 100%;
  // Override the height to `auto`, otherwise the elements will be stretched
  // when setting a width and height attribute on them.
  height: auto;
}

// Change the fill color to match the text color.
svg:not([fill]) {
  fill: currentColor;
}

//
// Tabular data
//

table {
  border-collapse: collapse; // Prevent double borders.
  border-spacing: 0;
}

td,
th {
  &:not([align]) {
    text-align: left;
  }
}

//
// Forms
//

button,
input,
select,
textarea {
  // Remove the margin on controls in Firefox and Safari.
  margin: 0;
  // Inherit fonts for inputs and buttons.
  font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style buttons in iOS and Safari.
  -webkit-appearance: button;

  // Add "hand" cursor to non-disabled button elements.
  &:not(:disabled) {
    cursor: pointer;
  }
}

// Remove inner border and padding from Firefox, but don't
// restore the outline like Normalize.
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // Make fieldsets behave more like a standard block element.
  min-width: 0;
  // Reset the default outline behavior of fieldsets so
  // they don't affect page layout.
  border: 0;
  padding: 0;
}

// Allow labels to use `margin` for spacing.
label {
  display: inline-block;
}

// Change the resize direction.
textarea {
  resize: vertical;
}

//
// Sanitize forms (optional and opinionated)
//

// Change the inconsistent appearance.
// Add typography inheritance.
button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

// Change the inconsistent appearance.
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;

  // Change the inconsistent appearance (opinionated).
  &:not([multiple]):not([size]) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
  }
}

//
// Accessibility
//

// Change the cursor on busy elements.
[aria-busy="true"] {
  cursor: progress;
}

// Change the cursor on control elements.
[aria-controls] {
  cursor: pointer;
}

// Change the cursor on disabled, not-editable, or otherwise
// inoperable elements.
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
