//
// Document
//

// Add border box sizing so that `width` is not affected by
// `padding` or `border`
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // Change the line height
  line-height: 1.15;
  // Remove the grey highlight on links in iOS
  -webkit-tap-highlight-color: transparent;
  // Prevent adjustments of font size after orientation changes in iOS
  -webkit-text-size-adjust: 100%;
}

//
// Sections
//

// Remove the default margin
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  // Fill the viewport block
  block-size: -webkit-fill-available;
  block-size: -moz-available;
  block-size: stretch;
  // Use the default user interface font
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Normalize all headings to text-level size
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

//
// Grouping content
//

// Remove list styles only on lists with a class attribute
ul[class],
ol[class] {
  list-style-type: none;
}

// Remove spacing on list elements
ul,
ol {
  padding: 0;
}

hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;

  // Set correct height and prevent the `size` attribute to make
  // the `hr` look like an input field
  &:not([size]) {
    height: 1px;
  }
}

//
// Text-level semantics
//

// Add default styles to anchor elements without a class
a:not([class]) {
  text-decoration-skip-ink: auto;
}

abbr[title] {
  // Add the correct text decoration
  text-decoration: underline dotted;
  // Add explicit cursor to indicate changed behavior
  cursor: help;
  // Prevent the text-decoration to be skipped
  text-decoration-skip-ink: none;
}

// Add the correct font weight in Chrome, Edge, and Safari
b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  // Correct the odd `em` font sizing
  font-size: 1em;
  // Correct the inheritance and scaling of font size
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Add the correct font size
small {
  font-size: 0.875em;
}

// Prevent `sub` and `sup` elements from affecting the line height
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }

//
// Embedded content
//

// Change the alignment on media elements
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

// Restrict sizing beyond the width of their parents
iframe,
img,
input,
video,
select,
textarea {
  // Set a maximum relative to the parent
  max-width: 100%;
  // Override the height to `auto`, otherwise the elements will be stretched
  // when setting a width and height attribute on them
  height: auto;
}

// Change the fill color to match the text color
svg:not([fill]) {
  fill: currentColor;
}

//
// Tabular data
//

// Prevent double borders
table {
  border-collapse: collapse;
}

th {
  // Matches default `<td>` alignment by inheriting `text-align`
  text-align: inherit;
  // Fix alignment for Safari
  text-align: -webkit-match-parent;
}

// Remove default padding of table cells
th,
td {
  padding: 0;
}

//
// Form-associated content
//

// Remove the margin on controls in Firefox and Safari
button,
input,
select,
textarea {
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // Correct the inability to style buttons in iOS and Safari
  -webkit-appearance: button;

  // Add "hand" cursor to non-disabled button elements
  &:not(:disabled) {
    cursor: pointer;
  }
}

fieldset {
  // Make fieldsets behave more like a standard block element
  min-width: 0;
  // Reset the default outline behavior of fieldsets so
  // they don't affect page layout
  border: 0;
  padding: 0;
  margin: 0;
}

// Allow labels to use `margin` for spacing
label {
  display: inline-block;
}

// Change the inconsistent appearance
button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  padding: 0.25em 0.375em;
}

// Change the resize direction
textarea {
  resize: vertical;
}

//
// Accessibility
//

// Change the cursor on busy elements
[aria-busy="true"] {
  cursor: progress;
}

// Change the cursor on control elements
[aria-controls] {
  cursor: pointer;
}

// Change the cursor on disabled, not-editable,
// or otherwise inoperable elements
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}
