@mixin delete {
  @extend %unselectable;

  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: var(--radius-rounded);
  cursor: pointer;
  pointer-events: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: none;
  position: relative;
  vertical-align: top;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
  }

  &::before {
    width: 50%;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 50%;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

%delete {
  @include delete;
}
