.box {
  display: block;
  background-color: var(--color-background);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px var(--color-contrast-low), 0 0 0 1px var(--color-contrast-medium);
  padding: var(--space-md);
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}
