.box {
  @extend %block;

  display: block;
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: 0 2px 8px var(--color-contrast-lighter), 0 0 0 1px var(--color-contrast-medium);
  padding: var(--space-medium);
}
