.button {
  background-color: var(--color-background);
  border-color: var(--color-contrast-low);
  color: var(--color-text);
  line-height: 1;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  @extend %unselectable;
  @include transition(color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
  &:hover,
  &:focus {
    border-color: var(--color-contrast-medium);
    color: var(--color-text);
  }
  &:active {
    background-color: var(--color-text);
    border-color: var(--color-text);
    color: var(--color-white);
  }

  //
  // Text
  //

  &.is-text {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-text);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &[disabled] {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  //
  // Colors
  //

  &.is-primary,
  &.is-accent {
    background-color: var(--button-color);
    border-color: transparent;
    color: var(--color-white);
    &:hover {
      background-color: var(--button-color-hover);
      border-color: transparent;
      color: var(--color-white);
    }
    &:focus {
      border-color: transparent;
      color: var(--color-white);
      box-shadow: 0 0 0 3px var(--button-shadow);
    }
    &:active {
      background-color: var(--button-color-active);
      border-color: transparent;
      color: var(--color-white);
    }
    &[disabled] {
      background-color: var(--button-color);
      border-color: transparent;
      box-shadow: none;
    }

    //
    // Outlined version
    //

    &.is-outlined {
      background-color: transparent;
      border-color: var(--button-color);
      color: var(--button-color);
      &:hover,
      &:focus {
        background-color: var(--button-color);
        border-color: var(--button-color);
        color: var(--color-white);
      }
      &[disabled] {
        background-color: transparent;
        border-color: var(--button-color);
        color: var(--button-color);
        box-shadow: none;
      }
    }
  }

  &.is-primary {
    --button-color: var(--color-primary);
    --button-color-hover: var(--color-primary-hover);
    --button-color-active: var(--color-primary-active);
    --button-shadow: var(--color-primary-a25);
  }

  &.is-accent {
    --button-color: var(--color-accent);
    --button-color-hover: var(--color-accent-hover);
    --button-color-active: var(--color-accent-active);
    --button-shadow: var(--color-accent-a25);
  }

  //
  // Sizes
  //

  &.is-small  { font-size: var(--button-sm); }
  &.is-medium { font-size: var(--button-md); }
  &.is-large  { font-size: var(--button-lg); }

  //
  // Modifiers
  //

  &[disabled] {
    background-color: var(--color-background);
    border-color: var(--color-contrast-low);
    box-shadow: none;
    opacity: 0.5;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }
}
