.flow-columns {
  column-gap: var(--space-xlarge);
  column-fill: balance;

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      @for $i from 1 through 4 {
        &.is#{$infix}-#{$i} {
          column-count: #{$i};
        }
      }
    }
  }
}
