.box {
  --shadow: 0 0.01em 0.01em rgba(0, 0, 0, 0.025), 0 0.05em 0.1em rgba(0, 0, 0, 0.05), 0 0.2em 0.375em rgba(0, 0, 0, 0.1);

  display: block;
  background-color: var(--color-background);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: var(--component-spacer);
}
