.button {
  @extend %control;
  @extend %unselectable;

  background-color: var(--color-background);
  border-color: var(--color-contrast-lower);
  color: var(--color-text);
  line-height: 1;
  padding: var(--space-xsmall);
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  @include transition(/*color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,*/ box-shadow 0.15s ease-in-out);

  &:hover {
    border-color: var(--color-contrast-low);
    color: var(--color-text);
  }
  &:focus {
    border-color: var(--color-primary);
    color: var(--color-text);
    &:not(:active) {
      box-shadow: 0 0 0 3px var(--color-primary-a50);
    }
  }
  &:active {
    border-color: var(--color-text);
    color: var(--color-text);
  }

  //
  // Text
  //

  &.is-text {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-text);
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &[disabled] {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  //
  // Link (slightly modified text version)
  //

  &.is-link {
    background-color: transparent;
    border-color: transparent;
    color: var(--color-text);
    &:hover,
    &:focus {
      background-color: var(--color-contrast-lowest);
    }
    &[disabled] {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  //
  // Colors
  //

  &.is-primary,
  &.is-accent {
    background-color: var(--button-color);
    border-color: transparent;
    color: var(--color-white);
    &:hover {
      background-color: var(--button-color-hover);
      border-color: transparent;
      color: var(--color-white);
    }
    &:focus {
      border-color: transparent;
      color: var(--color-white);
      &:not(:active) {
        box-shadow: 0 0 0 3px var(--button-shadow);
      }
    }
    &:active {
      background-color: var(--button-color-active);
      border-color: transparent;
      color: var(--color-white);
    }
    &[disabled] {
      background-color: var(--button-color);
      border-color: transparent;
      color: var(--color-white);
      box-shadow: none;
    }

    //
    // Outlined variant
    //

    &.is-outlined {
      background-color: transparent;
      border-color: var(--button-color);
      color: var(--button-color);
      &:hover,
      &:focus {
        background-color: var(--button-color);
        border-color: var(--button-color);
        color: var(--color-white);
      }
      &[disabled] {
        background-color: transparent;
        border-color: var(--button-color);
        color: var(--button-color);
        box-shadow: none;
      }
    }
  }

  &.is-primary {
    --button-color: var(--color-primary);
    --button-color-hover: var(--color-primary-hover);
    --button-color-active: var(--color-primary-active);
    --button-shadow: var(--color-primary-a50);
  }

  &.is-accent {
    --button-color: var(--color-accent);
    --button-color-hover: var(--color-accent-hover);
    --button-color-active: var(--color-accent-active);
    --button-shadow: var(--color-accent-a50);
  }

  //
  // Modifiers
  //

  &[disabled] {
    background-color: var(--color-background);
    border-color: var(--color-contrast-lower);
    color: var(--color-text);
    box-shadow: none;
    opacity: 0.5;
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }
}
