.content {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  @extend %block;

  //
  // Modifiers (e.g. for articles)
  //

  &.is-article {
    --line-height-multiplier: 1.25;
  }

  //
  // Vertical spacing
  //

  p,
  ul li,
  ol li,
  blockquote {
    // color: var(--color-text);
    line-height: calc(var(--line-height-base) * var(--line-height-multiplier, 1));
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  ul,
  ol,
  blockquote,
  table,
  dl {
    &:not(:last-child) {
      margin-bottom: calc(var(--space-s) * var(--text-vspace-multiplier, 1));
    }
  }

  hr {
    margin: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1)) auto;
  }

  //
  // Headings
  //

  h1 { font-size: var(--text-1); }
  h2 { font-size: var(--text-2); }
  h3 { font-size: var(--text-3); }
  h4 { font-size: var(--text-4); }
  h5 { font-size: var(--text-5); }
  h6 { font-size: var(--text-6); }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: calc(var(--line-height-heading) * var(--line-height-multiplier, 1));
    &:not(:first-child) {
      margin-top: calc(var(--space-l) * var(--text-vspace-multiplier, 1));
    }
  }

  //
  // Text-level semantics
  //

  li + li {
    margin-top: calc(var(--space-xxxs) * var(--text-vspace-multiplier, 1));
  }

  //
  // Common content elements
  //

  ul,
  ol,
  dd {
    margin-left: 2em;
  }

  ul {
    list-style-type: disc;
    list-style-type: disc outside;

    ul {
      list-style-type: circle;
      margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    background-color: var(--color-contrast-lowest);
    border-left: 5px solid var(--color-contrast-lower);
    padding: var(--space-s) 2em var(--space-s) calc(2em - 5px);
  }

  figure {
    text-align: center;
    // margin-right: 2em;
    // margin-left: 2em;

    &:not(:first-child) {
      margin-top: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
    }

    &:not(:last-child) {
      margin-bottom: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
    }

    img {
      display: inline-block;
    }

    figcaption {
      color: var(--color-contrast-medium);
      margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));
    }

    @include media-breakpoint-above(mobile) {
      &.is-pulled-left,
      &.is-pulled-right {
        width: 45%;
      }

      &.is-pulled-left {
        float: left;
        margin-right: calc(var(--space-m) * var(--text-vspace-multiplier, 1));
      }

      &.is-pulled-right {
        float: right;
        margin-left: calc(var(--space-m) * var(--text-vspace-multiplier, 1));
      }
    }

    @include media-breakpoint-above(widescreen) {
      &.is-pulled-left,
      &.is-pulled-right {
        width: 50%;
      }

      &.is-outset {
        width: calc(100% + 2 * var(--space-xxl));

        &:not(.is-pulled-right) {
          margin-left: calc(-1 * var(--space-xxl));
        }

        &.is-pulled-right {
          margin-right: calc(-1 * var(--space-xxl));
        }
      }
    }
  }
}
