$container-sizes: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

.container {
  position: relative;
  width: calc(100% - 2 * var(--space-small));
  margin-left: auto;
  margin-right: auto;

  &.is-full-width {
    width: 100%;
  }

  @each $breakpoint in map-keys($container-sizes) {
    $width: map-get($container-sizes, $breakpoint);

    @include media-breakpoint-above($breakpoint) {
      &:not(.is-fluid),
      &.is-#{$breakpoint} {
        max-width: $width;
      }
    }
  }
}
