$container-sizes: (
  mobile: 540px,
  tablet: 720px,
  desktop: 960px,
  widescreen: 1140px
) !default;

.container {
  position: relative;
  width: calc(100% - 2 * var(--space-s));
  margin-left: auto;
  margin-right: auto;

  &.is-full-width {
    width: 100%;
  }

  @each $breakpoint in map-keys($container-sizes) {
    $width: map-get($container-sizes, $breakpoint);

    @include media-breakpoint-above($breakpoint) {
      &:not(.is-fluid) {
        max-width: $width;
      }
    }

    &.is-#{$breakpoint} {
      max-width: $width !important;
    }
  }
}
