.container {
  position: relative;
  width: calc(100% - 2 * var(--component-spacer));
  margin-left: auto;
  margin-right: auto;

  &.is-fullwidth {
    width: 100%;
  }

  @each $breakpoint in map-keys($container-breakpoints) {
    $width: map-get($container-breakpoints, $breakpoint);

    @include media-breakpoint-above($breakpoint, $container-breakpoints) {
      &:not(.is-fluid) {
        max-width: $width;
      }
    }

    &.is-#{$breakpoint} {
      max-width: $width !important;
    }
  }
}
