.content {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  //
  // Vertical spacing and line height
  //

  p,
  ul li,
  ol li,
  blockquote {
    line-height: calc(var(--line-height-base) * var(--line-height-multiplier, 1));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  pre,
  ul,
  ol,
  blockquote,
  table,
  dl {
    &:not(:last-child) {
      margin-bottom: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
    }
  }

  hr {
    margin: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1)) auto;
  }

  //
  // Headings
  //

  h1,
  h2,
  h3,
  h4 {
    line-height: calc(var(--line-height-heading) * var(--line-height-multiplier, 1));

    &:not(:first-child) {
      margin-top: calc(var(--space-xl) * var(--text-vspace-multiplier, 1));
    }
  }

  h1 { font-size: var(--text-2); }
  h2 { font-size: var(--text-3); }
  h3 { font-size: var(--text-4); }
  h4 { font-size: var(--text-5); }
  h5 { font-size: var(--text-6); }
  h6 { font-size: var(--text-6); }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  //
  // Text-level semantics
  //

  li + li {
    margin-top: calc(var(--space-xxxs) * var(--text-vspace-multiplier, 1));
  }

  //
  // Common content elements
  //

  ul,
  ol,
  dd {
    &:not([class]) {
      padding: 0;
      margin-top: 0;
      margin-left: 2em;
    }
  }

  ul {
    list-style-type: disc;
    list-style-type: disc outside;

    ul {
      list-style-type: circle;
      margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
  }

  blockquote {
    background-color: var(--color-contrast-lowest);
    border-left: 5px solid var(--color-contrast-lower);
    padding: var(--space-s) 2em var(--space-s) calc(2em - 5px);
  }

  figure {
    text-align: center;
    // margin-right: 2em;
    // margin-left: 2em;

    &:not(:first-child) {
      margin-top: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
    }

    &:not(:last-child) {
      margin-bottom: calc(var(--component-spacer) * var(--text-vspace-multiplier, 1));
    }

    img {
      display: inline-block;
    }

    figcaption {
      margin-top: calc(var(--space-xs) * var(--text-vspace-multiplier, 1));
    }
  }
}
