.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--text-5);
  width: var(--text-5);

  > svg {
    width: 100%;
    height: 100%;
  }

  //
  // Sizes
  //

  &.is-small {
    width: var(--space-s);
    height: var(--space-s);
  }

  &.is-medium {
    width: var(--space-l);
    height: var(--space-l);
  }

  &.is-large {
    width: var(--space-xl);
    height: var(--space-xl);
  }
}
