.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--text-5);
  width: var(--text-5);

  > svg {
    width: 100%;
    height: 100%;
  }

  //
  // Sizes
  //

  &.is-small {
    width: var(--text-6);
    height: var(--text-6);
  }

  &.is-medium {
    width: var(--text-4);
    height: var(--text-4);
  }

  &.is-large {
    width: var(--text-2);
    height: var(--text-2);
  }
}

.inline-icon {
  display: inline-flex;
  align-items: center;

  > *:nth-child(2) {
    margin-left: var(--space-xxxs);
  }
}
