.block {
  &:not(:last-child) {
    margin-bottom: var(--component-spacer);
  }
}

.flow {
  > * + * {
    margin-top: var(--flow, var(--component-spacer));
  }
}

.flow-h > * {
  &:not(:last-child) {
    margin-right: var(--flow-h, var(--component-spacer));
  }
}

.section {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.title {
  color: var(--color-contrast-higher);
  line-height: var(--line-height-heading);
  font-weight: 600;
}
