.block {
  &:not(:last-child) {
    margin-bottom: var(--component-spacer);
  }
}

.flow,
.space-v {
  > *:not(:last-child) {
    margin-bottom: var(--space, var(--component-spacer));
  }
}

.flow-h,
.space-h {
  > *:not(:last-child) {
    margin-right: var(--space, var(--component-spacer));
  }
}

.section {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.title {
  color: var(--color-contrast-higher);
  line-height: var(--line-height-heading);
  font-weight: 600;
}
