.title {
  color: var(--color-contrast-higher);
  line-height: var(--line-height-heading);
  font-size: var(--text-3);
  font-weight: 600;
}

.subtitle {
  font-size: var(--text-5)
}

.title,
.subtitle {
  @for $i from 1 through 6 {
    &.is-#{$i} {
      font-size: var(--text-#{$i});
    }
  }
}
