@mixin control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius);
  box-shadow: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

@mixin block {
  &:not(:last-child) {
    margin-bottom: var(--component-spacer);
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin transition($transition...) {
  @media (prefers-reduced-motion: no-preference) {
    transition: $transition;
  }
}

//
// Selector placeholders
//

%control {
  @include control;
}

%block {
  @include block;
}

%unselectable {
  @include unselectable;
}

