.block {
  @extend %block;
}

.stack,
.stack-v {
  > *:not(:last-child) {
    margin-bottom: var(--space, var(--component-spacer));
  }
}

.stack-h {
  > *:not(:last-child) {
    margin-right: var(--space, var(--component-spacer));
  }
}

.section {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
