.hover\:underline:hover {
  text-decoration: underline;
}

.inline-icon {
  display: inline-flex;
  align-items: center;

  > *:nth-child(2) {
    margin-left: var(--space-xxxs);
  }
}

.marginless {
  margin: 0 !important;
}

.paddingless {
  padding: 0 !important;
}

.radiusless {
  border-radius: 0 !important;
}

.shadowless {
  box-shadow: none !important;
}

.unselectable {
  @extend %unselectable;
}

.contained {
  object-fit: contain !important;
}

.covered {
  object-fit: cover !important;
}

.rounded {
  border-radius: var(--radius)
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// A `full-bleed` helper variation, which doesn't need `calc()`.
// .full-bleed {
//   width: 100vw;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
// }

// Place all descendants in the center.
// .both-centered {
//   display: grid;
//   place-items: center;
// }

// A more resilient version for only one descendant
// to place all descendants in the center.
.center-content {
  display: flex;

  & > *:only-child {
    margin: auto;
  }
}
