.streched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}

.unselectable {
  @extend %unselectable;
}

.contained {
  object-fit: contain !important;
}

.covered {
  object-fit: cover !important;
}

.rounded {
  border-radius: var(--radius)
}

.spans-full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

// A "full-bleed" helper variation, which doesn't need `calc()`.
// .spans-full-width {
//   width: 100vw;
//   position: relative;
//   left: 50%;
//   right: 50%;
//   margin-left: -50vw;
//   margin-right: -50vw;
// }

// Place all descendants in the center.
// .content-centered {
//   display: grid;
//   place-items: center;
// }

// A more resilient version for only one descendant
// to place all descendants in the center.
.content-centered {
  display: flex;

  & > *:only-child {
    margin: auto;
  }
}
