.streched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}

.unselectable {
  @extend %unselectable;
}

.contained {
  object-fit: contain !important;
}

.covered {
  object-fit: cover !important;
}

.rounded {
  border-radius: var(--radius)
}

.spans-fullwidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.content-centered {
  display: grid;
  place-items: center;
}
